
//Colors
$mainAuthBGColor: #fff;
$mainProfileBGColor: #f0f2f5;
$mainDarkBGColor: #4b7378 ;
$whiteTextColor: #FFFFFF;
$labelTextColor: #7C7C7C;
$mainTextColor: #000000;
$profileBoxMainColor: #606770;


//Sizes
$mainInputTextSize: 14px;
$mainHeaderTextSize: 16px;
$inputWidth: 200px;