@import "../../../sass/abstracts/definitions";
@import "../../../sass/components/auth";


.loginWrapper {
  @extend %authWrapper;
  width: 485px;

  .loginHeader {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-bottom: 20px;
      margin-top: 10px;
      text-align: center;
    }

    .fieldWrapper {
      @extend %inputFieldPlaceholder
    }

    .captchaInput {
      padding-bottom: 50px;
    }
  }
  .loginFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .completeSignupButton {
      @extend %buttonFieldPlaceholder;

      button:disabled {
        @extend %buttonDisabledPlaceholder
      }
    }

    .loginFooterRedirect {
      font-size: 13px;
      font-weight: 200;
      margin-top: 20px;
    }
  }
}

@media (max-width: 660px) {
  .loginWrapper {
    width: 300px;
  }
}

@media (max-width: 420px) {
  .loginWrapper {
    width: 200px;
  }
}