@import "../../sass/abstracts/definitions";

%authWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px 22px 36px;
	font-family: 'Work Sans', sans-serif;
	padding-top: 30px;
	background-color: $mainAuthBGColor;
}

%rowFieldPlaceholder {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

%wrappersLabel {
	display: block;
	font-size: 12px;
	color: $labelTextColor;
	margin-bottom: 5px;
	padding-top: 20px;
}

%buttonFieldPlaceholder {
	background-color: $mainDarkBGColor;
	color: $whiteTextColor;
	font-family: 'PT Sans', sans-serif;
	width: 154px;
	height: 32px;
	border: none;
	cursor: pointer;
}

%inputFieldPlaceholder {
	input {
		width: $inputWidth;
		border: none;
		border-bottom: 1px solid $labelTextColor;
		outline: none;
		font-size: $mainInputTextSize;
		font-weight: 500;
	}

	label {
		display: block;
		font-size: 12px;
		color: $labelTextColor;
		margin-bottom: 5px;
		padding-top: 17px;
	}
}

%authErrors{
	color: red;
	font-size: 11px;
	position: absolute;
}

%buttonDisabledPlaceholder {
	cursor: not-allowed;
	opacity: 70%;
}